Repository openpathsampling/openpathsampling, pull requests merged in 2019-09, with the labels that each got.

#853 Deprecate MSMBuilder
  devtools/optional_packages.txt
  openpathsampling/collectivevariable.py
  openpathsampling/deprecations.py
Labels: Deprecations

#856 fix DeprecationWarning about invalid escape characters
  openpathsampling/collectivevariable.py
Labels: misc PR

#859 [docs] Protect caps in openpathsampling.bib
  docs/openpathsampling.bib
Labels: docs, misc PR
