Repository openpathsampling/openpathsampling, pull requests merged in 2020-11, with the labels that each got.

#940 SimStore: Tags
  openpathsampling/experimental/simstore/custom_json.py
  openpathsampling/experimental/simstore/sql_backend.py
  openpathsampling/experimental/simstore/storable_functions.py
  openpathsampling/experimental/simstore/storage.py
  openpathsampling/experimental/simstore/tags_table.py
  openpathsampling/experimental/simstore/test_sql_backend.py
  openpathsampling/experimental/simstore/test_tags_table.py
  openpathsampling/experimental/simstore/wrapper.py
  openpathsampling/experimental/storage/ops_storage.py
Labels: experimental

#941 Fix bug in SimStore when appending to non-existent files
  openpathsampling/experimental/simstore/memory_backend.py
  openpathsampling/experimental/simstore/sql_backend.py
  openpathsampling/experimental/simstore/storage.py
  openpathsampling/experimental/simstore/test_sql_backend.py
  openpathsampling/experimental/simstore/tools.py
Labels: bugfix, experimental

#944 Fix SyntaxWarning (resolves #943).
  openpathsampling/engines/features/numpydoctools.py
Labels: misc PR
