Repository openpathsampling/openpathsampling, pull requests merged in 2021-06, with the labels that each got.

#1027 Ensure that SimStore always saves movescheme
  openpathsampling/experimental/storage/monkey_patches.py
  openpathsampling/experimental/storage/test_pathsampling.py
  openpathsampling/pathsimulators/path_sampling.py
  openpathsampling/tests/test_pathsimulator.py
Labels: bugfix, experimental

#1016 MAX_SQL_ITEMS as class variable
  openpathsampling/experimental/simstore/sql_backend.py
  openpathsampling/experimental/simstore/test_sql_backend.py
Labels: bugfix, experimental

#970 Updates to Docs
  .github/workflows/deploy_docs.yml
  docs/collectivevariable.rst
  docs/conf.py
  docs/copyfiles/copyfiles.py
  docs/developers/advanced_engines.rst
  docs/developers/general_advice.rst
  docs/developers/index.rst
  docs/ecosystem.rst
  docs/examples/index.rst
  docs/getting_help.rst
  docs/index.rst
  docs/movestrategy.rst
  docs/pathmover.rst
  docs/pathsimulator.rst
  docs/sphinxext/notebook_sphinxext.py
  docs/volume.rst
  openpathsampling/__init__.py
  openpathsampling/collectivevariables/__init__.py
  openpathsampling/collectivevariables/plumed_wrapper.py
  openpathsampling/pathmover.py
Labels: docs, misc PR

#1029 Make histogramming more robust
  openpathsampling/numerics/histogram.py
  openpathsampling/tests/test_histogram.py
Labels: bugfix

#1030 Warn if CVDefinedVolume CVs return iterables
  openpathsampling/tests/test_volume.py
  openpathsampling/volume.py
Labels: enhancement

#755 "Hooks" for ShootFromSnapshotsSimulation (i.e., committor)
  .coveragerc
  docs/developers/hooks.rst
  docs/developers/index.rst
  openpathsampling/__init__.py
  openpathsampling/beta/__init__.py
  openpathsampling/beta/hooks.py
  openpathsampling/pathsimulators/path_simulator.py
  openpathsampling/pathsimulators/shoot_snapshots.py
  openpathsampling/tests/pathsimulators/__init__.py
  openpathsampling/tests/pathsimulators/test_hooks.py
Labels: experimental, feature
